<!doctype html>
<html>
<head>
    {% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    {% endblock %}

    <title> Gear App
    </title>

    {% block stylesheets %}
    <link href="{{STATIC_URL}}demo/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block javascript %}
     <script src="{{STATIC_URL}}demo/javascripts/application.js" type="text/javascript"></script>
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body>
{% include "demo/base/top_nav.html" %}
{% include "demo/base/side_nav.html" %}
{% block content %}
{% endblock %}
</body>
</html>
