<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">



        <li class="active">
          <span class="glow"></span>
          <a href="/demo/home/home.html">
              <i class="icon-home icon-2x"></i>
              <span>Home</span>
          </a>
        </li>

	<li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-comments-alt icon-2x"></i>
              <span>Messages</span>
              <span class="badge badge-dark-red">5</span>
          </a>
        </li>


        <li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-list icon-2x"></i>
              <span>Assignments</span>
              <span class="badge badge-dark-green">9</span>
          </a>
        </li>





  </ul>

 <div class="hidden-sm hidden-xs">
    <div class="text-center" style="margin-top: 60px">
       <h4><i class="icon-info-sign"></i> Ship Criteria</h4>
      <div style="padding-top: 20px"><b>Code Coverage > 75% </b></div>
      <div style="padding-top: 20px"><b>Comment Violation < 60 </b></div>
      <div style="padding-top: 20px"><b>% Duplicated Code < 20 % </b></div>
      <div style="padding-top: 20px"><b>Static Defects < 50</b></div>
      <div style="padding-top: 20px"><b>P0 Bugs = 0</b></div>
      <div style="padding-top: 20px"><b>MCC < 10</b></div>
    </div>


    <hr class="divider" style="margin-top: 60px">

    <div class="sparkline-box side">

      <div class="sparkline-row">
        <h4 class="gray"><span>Orders</span> 847</h4>
        <div class="sparkline big" data-color="gray"><!--16,7,23,13,12,11,15,4,19,18,4,24--></div>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="dark-green"><span>Income</span> $43.330</h4>
        <div class="sparkline big" data-color="darkGreen"><!--6,3,24,25,27,29,14,26,20,8,12,20--></div>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="blue"><span>Reviews</span> 223</h4>
        <div class="sparkline big" data-color="blue"><!--11,19,20,20,5,18,11,6,16,20,26,11--></div>
      </div>

      <hr class="divider">
    </div>
  </div>


</div>

