<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">



        <li class="active">
          <span class="glow"></span>
          <a href="/demo/home/home.html">
              <i class="icon-home icon-2x"></i>
              <span>Home</span>
          </a>
        </li>

	<li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-comments-alt icon-2x"></i>
	      <!--span class="label label-black">14</span-->
              <span>Messages</span>
              <span class="badge badge-dark-red">5</span>
          </a>
        </li>

	<li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-list-alt icon-2x"></i>
              <span>All Assignments</span>
              <span class="badge badge-dark-green">3</span>
          </a>
        </li>



        <li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-magic icon-2x"></i>
              <span>Create Project</span>
          </a>
        </li>


  </ul>

  <div class="hidden-sm hidden-xs">
    <div class="text-center" style="margin-top: 60px">
       <h4><i class="icon-info-sign"></i> RL Concerns</h4>
      <div style="padding-top: 20px"><b>Reliability</b></div>
      <div style="padding-top: 20px"><b>Testing</b></div>
      <div style="padding-top: 20px"><b>Technical Debt</b></div>
    </div>

    <hr class="divider" style="margin-top: 60px">

  </div>
    <div class="sparkline-box side">
      <div class="sparkline-row">
        <h4 class="gray"><span> Date</span> 11/17/2013</h4>
      </div>
      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="dark-green"><span>LOC</span> 123456789</h4>
      </div>
      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="blue"><span>P0 Bugs</span> 20</h4>
      </div>
      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="red">Ship Criteria</h4>
        <div > <h4 class="green">5/9</h4> </div>
      </div>
      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="green">Progress</h4>
        <div class="progress ">
          <div class="progress-bar progress-green tip" title="36" dat\
               a-percent="36" style="width: 36%"><span class="sr-only">36% Complete</span></div>
        </div>
      </div>
      <hr class="divider">
    </div>
  </div>

</div>

