<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">



        <li class="active">
          <span class="glow"></span>
          <a href="/demo/home/home.html">
              <i class="icon-home icon-2x"></i>
              <span>Home</span>
          </a>
        </li>

	<li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-comments-alt icon-2x"></i>
              <span>Messages</span>
              <span class="badge badge-dark-red">5</span>
          </a>
        </li>


        <li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-list icon-2x"></i>
              <span>Assignments</span>
              <span class="badge badge-dark-green">9</span>
          </a>
        </li>





  </ul>

 <div class="hidden-sm hidden-xs">
    <div class="text-center" style="margin-top: 60px">
       <h4 class="blue"><i class="icon-info-sign"></i><span> Ship Criteria </span></h4>
      <div style="padding-top: 20px"><b>Static Defects < 50</b></div>
      <div style="padding-top: 20px"><b>% Duplicated Code < 20 % </b></div>
      <div style="padding-top: 20px"><b>Comment Violation < 60 </b></div>
      <div style="padding-top: 20px"><b>Code Coverage > 75% </b></div>
      <div style="padding-top: 20px"><b>MCC < 10</b></div>
      <div style="padding-top: 20px"><b>P0 Bugs = 0</b></div>
    </div>

    <div class="text-center" style="margin-top: 60px">
       <h4 class="blue"><i class="icon-info-sign"></i><span> RL Concerns </span></h4>
      <div style="padding-top: 20px"><b> Reliability </b></div>
      <div style="padding-top: 20px"><b> Testing</b></div>
      <div style="padding-top: 20px"><b> Maintainability </b></div>
    </div>



    <hr class="divider" style="margin-top: 60px">

    <div class="sparkline-box side">

      <div class="sparkline-row">
        <h4 class="gray"><span>Last Run Date</span> 11/17/2013</h4>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="dark-green"><span>LOC</span> 456789</h4>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="blue"><span>Next Run Scheduled</span> 11/18/2013</h4>
      </div>

      <!--hr class="divider">
      <div class="sparkline-row">
        <h4 class="green">Progress</h4>
        <div class="progress ">
	  <div style="width: 10%" data-percent="10" title="" class="progress-bar progress-green tip" data-original-title="10"><span class="sr-only">10% Complete</span></div>
        </div>
      </div-->

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="red"><span> Ship Criteria</span></h4>
	<div class="status-success"><i class="icon-ok"></i> </div>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="blue"><span>Recent Source Code Checkins </span> 6</h4>
      </div>

      <hr class="divider">
    </div>
  </div>


</div>

