<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">



        <li class="active">
          <span class="glow"></span>
          <a href="/demo/home/home.html">
              <i class="icon-home icon-2x"></i>
              <span>Home</span>
          </a>
        </li>

	<li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-comments-alt icon-2x"></i>
	      <!--span class="label label-black">14</span-->
              <span>Messages</span>
              <span class="badge badge-dark-red">5</span>
          </a>
        </li>
	
	<li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-list-alt icon-2x"></i>
              <span>All Assignments</span>
              <span class="badge badge-dark-green">3</span>
          </a>
        </li>



        <li class="">
          <span class="glow"></span>
          <a href="/demo/other/wizard.html">
              <i class="icon-magic icon-2x"></i>
              <span>Create Project</span>
          </a>
        </li>


  </ul>

  <div class="hidden-sm hidden-xs">
    <div class="text-center" style="margin-top: 60px">
       <h4><i class="icon-info-sign"></i> Information</h4>
      <div style="padding-top: 20px"><b>P0 Defects = 0</b></div>
      <div style="padding-top: 20px"><b>Comments Needed</b></div>
      <div style="padding-top: 20px"><b>Complexity<10</b></div>
      <div style="padding-top: 20px"><b>Clang < 10</b></div>
    </div>

    <hr class="divider" style="margin-top: 60px">

  </div>


</div>

